[submodule "libsodium"]
	path = submodules/libsodium
	url = https://github.com/jedisct1/libsodium.git
	ignore = dirty
[submodule "liboqs"]
	path = submodules/liboqs
	url = https://github.com/open-quantum-safe/liboqs
	ignore = dirty
[submodule "openssl"]
	path = submodules/openssl
	url = https://github.com/openssl/openssl.git
	ignore = dirty
[submodule "cNimWrapper"]
	path = submodules/cNimWrapper
	url = https://github.com/siriuslee69/cNimWrapper-Bindr.git
	branch = main
[submodule "sigma_bench_and_eval"]
	path = submodules/sigma_bench_and_eval
	url = https://github.com/siriuslee69/Sigma-BenchAndEval.git
	branch = main
[submodule "otter_repo_evaluation"]
	path = submodules/otter_repo_evaluation
	url = https://github.com/siriuslee69/Otter-RepoEvaluation.git
	branch = main
[submodule "simd_nexus"]
	path = submodules/simd_nexus
	url = https://github.com/siriuslee69/SIMD-Nexus.git
